<div
  class="card my-4 mx-4"
  [ngClass]="getTheme() === 'dark' ? 'text-white bg-dark' : 'bg-light'"
>
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item mr-2 mt-1" *ngIf="!connected">
        <input
          type="text"
          class="form-control"
          placeholder="Insert username.."
          name="text"
          [(ngModel)]="message.username"
        />
      </li>
      <li class="nav-item mr-2 mt-1">
        <button
          class="btn btn-primary mx-1"
          (click)="connect()"
          *ngIf="!connected"
          [disabled]="!message.username"
        >
          Connect
        </button>
      </li>
      <li class="nav-item mr-2 mt-1">
        <button
          class="btn btn-secondary mx-1"
          (click)="disconnect()"
          *ngIf="connected"
        >
          Close chat
        </button>
      </li>
    </ul>
  </div>
  <div
    class="card-body chat-container"
    *ngIf="connected"
    [scrollTop]="scrolltop"
    #scrollChat
  >
    <ul class="list-group list-group-flush">
      <app-message [messages]="messages"></app-message>
    </ul>
  </div>
  <div class="card-footer" *ngIf="connected">
    <form class="row row-cols-lg-auto g-3 align-items-center">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Write a message.."
          name="text"
          [(ngModel)]="message.text"
          (keyup)="userWritingEvent()"
        />
      </div>
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </form>
  </div>
  <div class="mx-2 mb-2">{{ writing }}</div>
</div>
